
.SliderContainer{
  
    margin: auto;
    width: 50%;
    height: 10px;
    text-align: center;
 
    border-radius: 10px;
    
}

input[type='range']{
    -webkit-apearence:none;
    background: transparent;
    cursor: pointer;
    width:50vw;

}

.slider {
  -webkit-appearance: none;

}

.slider::before{
  font-weight: 900;
  content:'-';
  font-size: 2vh;
   margin-right: 1vh ;
   color: red;
}

.slider::after{
  content:'+';
   font-weight: 900;
   font-size: 2vh;
   margin-left: 1vh ;
  color: green;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13vw;
  height: 3vw;
  background: #dddddd;
  cursor: pointer;
  border-radius: 0px 0px 25px 25px;
  background-image: url('../../assets/circle_opaque.svg');
  box-shadow: rgb(128, 126, 126) 1px 3px 1px;
  background-size: 5px;
  background-repeat: repeat;
  border: 1px solid rgb(121, 121, 121);
  }



input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background:linear-gradient(0.25turn,#ff6961,#80bc2a);
  border-radius: 20px;
  height: 5px;
  }

.slider::-moz-range-thumb
 {
  -webkit-appearance: none;
  appearance: none;
  width: 13vw;
  height: 3vw;
  background: #dddddd;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  background-image: url('../../assets/circle_opaque.svg');
  box-shadow: rgb(128, 126, 126) 1px 3px 1px;
  background-size: 5px;
  background-repeat: repeat;
  border: 1px solid rgb(121, 121, 121);
  }

.slider::-moz-range-track{
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background:linear-gradient(0.25turn,#ff6961,#80bc2a);
  border-radius: 20px;
  height: 5px;
  }




/* Media queries */


@media (min-width:1000px) {
  

.slider::-webkit-slider-thumb {

  width: 4vw;
  height: 3vw;
}

input[type='range']{
    -webkit-apearence:none;
    background: transparent;
    cursor: pointer;
    width:30vw;

}


.slider::-moz-range-thumb
 {
  width: 4vw;
  height: 3vw;
 }
}





