
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300&family=Lobster&display=swap');
.SubmitButton{

    margin-top: 15vh;
    width: 100%;
    border-radius: 100px;

    border: 4px solid black;
    font-size: 1em;
    padding: 0.5vh;
    color: white;
    font-family: Bungee;
    letter-spacing: 0.7vh;
    color: rgb(0, 0, 0);
    
}

.SubmitButton:hover{

  animation: appear;
  animation-duration: infinite;
  animation-fill-mode: both;
}


/* Media queries */

@media (min-width:1000px) {
  

.SubmitButton {

  width: 50%;

}}


@keyframes appear {

    from{background-color: white;}
    to{background-color: #a5a5a5;}
    
}