

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&display=swap');


.App{
    background-color: #dddddd;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    margin: 0px;
    padding: 0px;
}



.mainTitle{

    font-family: Lobster;
    text-align: center;
    font-size: 6vw;
    color :rgb(61, 61, 61);
    margin-top: 15vh;

}


@media (min-width:1000px) {


.mainTitle{


    font-size: 4vw;


}
}


